body{
    background-color: aliceblue;
    color: gray;
    padding: 5%;
    border: 10px 10px 0px 30px;
    font-size: 20px;
}

h1{
    color: black;
    text-align: center;
    font-family:'Times New Roman',;
}

h2{
    font-size: large;
    color: red;
    text-align: left;
}

img{
    width: 500px;
    padding: 20px;
}

table{
    width: 1000px;
    color:red;
    padding: 15px;
    margin: 10px 50px 0px 100px;
    text-align: center;
    font-size: 20px;
    
}

li{
    color: red;
    padding: 30px;
    font-family: 'Times New Roman';

}